/* Imports */
@import url('https://dev.fandom.com/load.php?mode=articles&articles=u:dev:MediaWiki:Highlight.css|MediaWiki:NoCustomCursors.css|MediaWiki:AdRailRemove/code.css|MediaWiki:ProfileIconsTextless.css&only=styles');

/* Codes */
.mw-parser-output img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

a.global-navigation__link:not(.global-navigation__search) {
	display: none;
}

.global-navigation__link.wds-dropdown.wds-open-to-right.wds-has-shadow.attach-to-bottom {
	display:none;
}

html:not(.ve-activated) .page.has-right-rail .page__right-rail {
    transition: width .3s;
    width: 290px;
}

.rail-module {
    background-color: black;
}
