/* Color user names of sysops in recent changes, logs, page histories, etc. */
a[href$="/wiki/User:Headquarter8302"] {
	color:#5100ff !important;
	font-weight: bold !important;
	background-color: rgba(138, 91, 224, 0.3);
}

/* Novelties for all people who helped me develop this wiki! */
/* HumansCanWinElves a.k.a Nam */
a[href$="/wiki/User:HumansCanWinElves"] {
	background-color: blue !important;
}

/* Andrewds1021 a.k.a Andrew */
a[href$="/wiki/User:Andrewds1021"] {
    background-color: blue !important;
}

/* KockaAdmiralac a.k.a Kot͡skaa */
a[href$="/wiki/User:KockaAdmiralac"] {
    background-color: blue !important;
}
